<div class="container">
  <mat-tab-group mat-stretch-tabs color="Accent" backgroundColor="primary">
    <mat-tab label="Get Anagrams">
      <app-search-form [anagramSearchResults]="searchResults" (anagramSearch)="getAnagrams($event)"></app-search-form>
    </mat-tab>
    <mat-tab label="Get Anagram Instances">
      <app-search-instance-form [anagramNumberInstanceResult]="anagramNumberInstanceResult" (anagramInstanceSearch)="searchAnagrams($event)"></app-search-instance-form>
    </mat-tab>
  </mat-tab-group>
</div>