<div class="container">
  <mat-tab-group mat-stretch-tabs color="Accent" backgroundColor="primary">
    <mat-tab label="Get Anagrams">
      <h4 class="px-1 mt-2 ta-c">Enter your search term and results will be displayed below</h4>
      <mat-form-field class="w-100 px-1 mt-1">
        <mat-label>Search Term</mat-label>
        <input matInput type="text" [(ngModel)]="anagramSearchTerm" (ngModelChange)="getAnagrams(anagramSearchTerm)">
        <button *ngIf="anagramSearchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="anagramSearchTerm = ''; clearSearchModel();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <app-string-list [stringList]="anagramSearchResults$ | async"></app-string-list>
    </mat-tab>
    <mat-tab label="Get Anagram Instances">
      <h4 class="px-1 mt-2 ta-c">Enter your search term and the string that you would like to check and the results will be displayed below</h4>
      <mat-form-field class="w-100 px-1 mt-1">
        <mat-label>Search Term</mat-label>
        <input matInput type="text" [(ngModel)]="anagramInstanceSearch.searchTerm" (ngModelChange)="searchAnagrams(anagramInstanceSearch)">
        <button *ngIf="anagramInstanceSearch.searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="anagramInstanceSearch.searchTerm=''; clearInstanceModel()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-100 px-1 mt-1">
        <mat-label>String to be Searched</mat-label>
        <input matInput type="text" [(ngModel)]="anagramInstanceSearch.stringToSearch" (ngModelChange)="searchAnagrams(anagramInstanceSearch)">
        <button *ngIf="anagramInstanceSearch.stringToSearch" matSuffix mat-icon-button aria-label="Clear" (click)="anagramInstanceSearch.stringToSearch=''; clearInstanceModel()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="results-text px-1 ta-c mt-1" *ngIf="(anagramNumberInstanceResult$ | async)">I found <span class="fw-bold">{{ (anagramNumberInstanceResult$ | async) ?? 0 }}</span> instances of an anagram of <span class="fw-bold">{{anagramInstanceSearch.searchTerm}}</span> in <span class="fw-bold">{{anagramInstanceSearch.stringToSearch}}</span> </div>
    </mat-tab>
  </mat-tab-group>
</div>